**/.DS_Store
episen-sca-lal-front/node_modules
episen-sca-lal-front/dist
episen-sca-lal-back/.idea
episen-sca-lal-front/.idea
episen-sca-lal-back/target
episen-sca-lal-back/.mvn
episen-sca-lal-back/mvnw
episen-sca-lal-back/mvnw.cmd
episen-sca-lal-back/HELP.md
episen-sca-lal-back/episen-sca-lal-back.iml
